**/.data/**
**/.checkpoints/**
build/
crash-*
**/__pycache__/
mlab.egg-info/
scratch/
.ipynb_checkpoints/
image*
infrastructure/.lambda_account.json
.hypothesis
launch.json

# New in mukobi/MLAB-Transformers-From-Scratch
__pycache__